<h1>
    Новая недвижимость на Северном Кипре.
</h1>

<p>
Добрый день дорогие друзья. Вам пишет ваш Alliance Estate и Северный Кипр. Сегодня мы рады предложить вам самые новые и самые выгодные объекты недвижимости на Северном Кипре. 
</p>
<p>
Недвижимость на Северном Кипре - это одна из самых лучших инвестиций в настоящее время. Стоимость её неуклонно растет и в год за вашу недвижимость вы можете получать до 15% прибыли. Ниже список лучших объектов для вас. Обращаем ваше внимание, что на все объекты распространяется БЕСПРОЦЕНТНАЯ РАССРОЧКА до конца строительств
</p>


<table>
    <tbody>
    <tr>
        <td style="width: 50%">
            <img src="http://www.alliance-cyprusproperty.ru/uploads/tiny_print/image/478/large_thumb_____.JPG" style="width: 100%"/>
            <p>Новый комплекс в Гирне на стадии строительства. 5 минут до пляжа. Квартиры студии и 1+1. Сдача дома: февраль 2016.</p>
            <p>
                ОСТАЛОСЬ ТОЛЬКО 3 КВАРТИРЫ!<br/>
                Цены от 33 000 GBP<br/>
                Рассрочка на весь срок строительства.<br/>
            </p>
            <h3><a href="http://www.alliance-cyprusproperty.ru/">Успей купить</a></h3>
        </td>
        <td style="width: 50%">
            <img src="http://www.alliance-cyprusproperty.ru/uploads/tiny_print/image/478/large_thumb_____.JPG" style="width: 100%"/>
            <p>Новый комплекс в Гирне на стадии строительства. 5 минут до пляжа. Квартиры студии и 1+1. Сдача дома: февраль 2016.</p>
            <p>
                ОСТАЛОСЬ ТОЛЬКО 3 КВАРТИРЫ!<br/>
                Цены от 33 000 GBP<br/>
                Рассрочка на весь срок строительства.<br/>
            </p>
            <h3><a href="http://www.alliance-cyprusproperty.ru/">Успей купить</a></h3>
        </td>
    </tr>
    </tbody>
</table>
